.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
}

.modal-content {
  background-color: #fff;
  width: 500px;
  height: 200px;
  border: 1px solid #ccc;
  padding: 1rem;
}
