@import "tailwindcss";

.yellowColor {
  color: #ffa300;
}

/* Base link styles */
li a {
  padding: 21px;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
}

/* Desktop active */
.active {
  background-color: #ffa300;
  color: #ffffff
}

@media (min-width: 768px) {
  /* .active {
    border-bottom: 4px solid #ffa300;
  } */
}

/* Mobile active */
@media (max-width: 767px) {
  .active {
    background-color: rgba(255, 163, 0, 0.15);
    border-left: 4px solid #ffa300;
  }
}
