.container {
  background-color: rgba(211, 211, 211, 0.165);
  text-align: center;
}
.card {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 300px;
}
